/* ordine css */
/* 1 stiluri default in browser */
/* 2 steluta * */
/* 3 dupa tag */
/* 4 dupa atribut */
/* 5 dupa clasa */
/* 6 dupa id */
/* 7 css intern */
/* 8 important */
* {
    background-color: aquamarine;
}

p {
    background-color: beige;
    font-weight: bold;
}

[name] {
    background-color: white !important;
}

[name=my-par-2] {
    background-color: green;
}

.par {
    background-color: yellow;
}

#p1 {
    background-color: pink;
    font-weight: normal;
    margin: 50px 20px 10px 40px;
    border: 5px solid black;
    padding: 10px;
}